.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -2;
  width: 568px;
  height: 568px;
  background: #2f80ed;
  -webkit-transform: rotate(345deg);
  -ms-transform: rotate(345deg);
  transform: rotate(345deg);
}
