.feynman__title {
  width: 100%;
  max-width: 648px;
  margin: 0 auto 70px auto;
  font-family: Ubuntu, 'Helvetica Neue', Arial, sans-serif;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
}
