.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  color: #2f80ed;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.feynman__link:hover {
  opacity: .5;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
