.form__text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 240px;
  height: 30px;
  margin: 0 0 10px 0;
  padding: 0 0 0 10px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  border: 0;
}

.form__text:last-of-type {
  margin: 0 0 20px 0;
}
