@font-face {
  font-family: Ubuntu;
  font-weight: normal;
  src: url(../../fonts/ubuntu-font-family-0.83/Ubuntu-R.ttf);
}

@font-face {
  font-family: Ubuntu;
  font-weight: 600;
  src: url(../../fonts/ubuntu-font-family-0.83/Ubuntu-B.ttf);
}
