.form__reset {
  width: 150px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  border: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  color: #fff;
  background: #a00;
}

.form__reset:hover {
  opacity: .5;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
